@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;600;700&family=Outfit:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    line-height: 1.4;
    background-color: hsl(217, 54%, 11%);
    width: 1440px;
} 

.container{
    position: relative;
    width: 270px;
    height: 470px;
    background-color: hsl(216, 50%, 16%) ;
    border: 10px hsl(216, 50%, 16%)  solid;
    border-radius: 10px;
    margin: 300px auto;
    font-family: 'outfit , san-serif';
    font-style: normal;
}

.card img{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;
    border-radius: 10px;
}

.card img .img-top {
    width: 10px;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
        display: inline;
     background-color: hsl(178, 100%, 50%) ;
     opacity: 0.50;
    }

    .text-box:hover h1{
        color:hsl(178, 100%, 50%)  ;
    }

    .text-box .base:hover text {
        color:hsl(178, 100%, 50%)  ;
    }

.text-box h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    margin-top: 20px;
    margin-left: 15px;
    color:hsl(0, 0%, 100%) ;
}

.text-box p{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
    margin-left: 15px;
    color:hsl(215, 51%, 70%);
}

ul{
    list-style: none;
}

.text-box ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.text-box li{
    margin: 0 15px;
    font-weight: 400;
}

.text-box a {
    text-decoration: none;
}

.ETH span{
    color:hsl(178, 100%, 50%) ;
}

.clock span{
    color:hsl(215, 51%, 70%) ;
}

hr.solid{
    border: 1px solid hsl(215, 32%, 27%);
    margin-top: 28px;
}

.base span{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin-top: 25px;
    margin-left: 5px;
    color:hsl(215, 51%, 70%);
}
 .base text {
    color:  hsl(0, 0%, 100%);
    
}

.base img{
    width: 25px;
    margin-top:15px ;
    margin-left: 10px;
}  


@media(max-width:375px) {
    .html, body{
        width: 375px;
    }
}